<!DOCTYPE HTML>

<html lang="en">
  <head>
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="/static/css/404.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/assets/icon/error-404.png"/>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/404.js"></script>
  </head>
  <body>
    <img src="/static/assets/image/404.png"/>
    <h1>Ah! ${url} is not found. </h1>
    <h2>The page will redirect to http://${host}/ after <span id="second">5</span> second.</h2>
  </body>
</html>
